.vscode/
.github/
client/
coverage/
grammars/
node_modules/
scripts/
server/
syntaxes/

**/*.ts
**/*.d.ts
**/*.js.map
**/.gitignore
.gitattributes
.eslintignore
tsconfig.json
tsconfig.build.json
.travis.yml
*.vsix
webpack.config.js
webpack.config.base.js
gulpfile.js
tslint.json
Icon.psd