.vscode/**
**/*.ts
**/*.d.ts
**/*.js.map
**/.gitignore
.gitattributes
tsconfig.json
contributing.md
.travis.yml
node_modules
*.vsix
webpack.config.js
gulpfile.js
tslint.json
grammars/
scripts/
syntaxes/UnrealScript.YAML-tmLanguage
Icon.psd
.eslintignore

client/
!client/out/extension.js

server/
!server/out/server.js
!server/out/*.LICENSE.txt