.vscode
node_modules
client/
!client/out/server.js
server/
!server/out/server.js
tsconfig.json
webpack.config.js
gulpfile.js
tslint.json
.gitignore
contributing.md
.travis.yml

grammars/
scripts/
syntaxes/UnrealScript.YAML-tmLanguage
Icon.psd